<div class="row" *ngFor="let screen of screens">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">{{screen.content}}</div>
      <div class="panel-body">
        <p>{{screen.content}}</p>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <input type="text" id="id" name="id" ngModel style="display:none">
          <input type="text" id="content" name="content" ngModel>
          <button class="btn btn-primary" type="submit">Ok</button>
        </form>
      </div>
    </div>
  </div>
</div>






